In [1]:
import pandas

In [2]:
print("Hello World, this is a test")

Hello World, this is a test

In [3]:
column_names = ["id", "Daerah", "SumbuUtama", "SumbuKecil", "Keunikan", "AreaBulatan", "Diameter", "KadarAir", "Keliling", "Bulatan", "Ransum", "Kelas"]

In [4]:
gandum = pandas.read_csv("./../test/Gandum.csv", header = None, names = column_names)

In [5]:
gandum  # Memperlihatkan Gandum.csv
        # Kolom 2 - 11 adalah kolom atribut (non-target), kolom 12 adalah target

,id,Daerah,SumbuUtama,SumbuKecil,Keunikan,AreaBulatan,Diameter,KadarAir,Keliling,Bulatan,Ransum,Kelas
0,1,5781,128.288875,58.470846,0.890095,5954,85.793926,0.674090,316.756,0.724041,2.194066,1
1,2,4176,109.348294,49.837688,0.890098,4277,72.918093,0.596231,260.346,0.774227,2.194088,1
2,3,4555,114.427991,52.151207,0.890105,4706,76.155145,0.776641,279.606,0.732159,2.194158,1
3,4,4141,108.701191,49.457349,0.890499,4236,72.611879,0.633180,260.478,0.766960,2.197877,1
4,5,5273,122.747869,55.757848,0.890876,5431,81.937733,0.669842,302.730,0.723031,2.201446,1
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,5083,120.083450,54.821580,0.889709,5179,80.447975,0.534827,286.377,0.778850,2.190441,2
496,497,4432,112.367050,51.294914,0.889726,4550,75.119889,0.601194,270.823,0.759344,2.190608,2
497,498,5020,119.873742,54.718545,0.889740,5104,79.947874,0.528421,285.799,0.772311,2.190733,2
498,499,4035,107.311728,48.930802,0.889996,4150,71.676506,0.584698,258.503,0.758791,2.193132,2
499,500,3379,99.014789,44.631551,0.892647,3491,65.591741,0.653578,237.593,0.752196,2.218493,2

In [6]:
gandum.index # RangeIndex

RangeIndex(start=0, stop=500, step=1)

In [7]:
gandum.head(10) # 10 Baris pertama

,id,Daerah,SumbuUtama,SumbuKecil,Keunikan,AreaBulatan,Diameter,KadarAir,Keliling,Bulatan,Ransum,Kelas
0,1,5781,128.288875,58.470846,0.890095,5954,85.793926,0.674090,316.756,0.724041,2.194066,1
1,2,4176,109.348294,49.837688,0.890098,4277,72.918093,0.596231,260.346,0.774227,2.194088,1
2,3,4555,114.427991,52.151207,0.890105,4706,76.155145,0.776641,279.606,0.732159,2.194158,1
3,4,4141,108.701191,49.457349,0.890499,4236,72.611879,0.633180,260.478,0.766960,2.197877,1
4,5,5273,122.747869,55.757848,0.890876,5431,81.937733,0.669842,302.730,0.723031,2.201446,1
5,6,5371,123.943530,56.235398,0.891145,5531,82.695644,0.734144,297.114,0.764573,2.204013,1
6,7,6332,135.249060,61.312148,0.891344,6528,89.789492,0.579747,328.799,0.736020,2.205910,1
7,8,5595,126.292008,57.238214,0.891398,5745,84.402460,0.621046,303.285,0.764378,2.206428,1
8,9,4664,115.859780,52.493440,0.891471,4826,77.060945,0.712170,282.980,0.731909,2.207129,1
9,10,5762,128.482339,58.165177,0.891658,5932,85.652824,0.659872,312.678,0.740608,2.208922,1

In [9]:
gandum.kurtosis() # kurtosis

id             -1.200000
Daerah         -0.434631
SumbuUtama      4.330534
SumbuKecil      0.475568
Keunikan        2.917256
AreaBulatan    -0.409685
Diameter       -0.466455
KadarAir       -0.740326
Keliling        2.272685
Bulatan        29.975096
Ransum         -0.428656
Kelas          -2.007984
dtype: float64